@font-face {
    font-family:Montserrat ;
    src: url('fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family:Montserrat-R ;
    src: url('fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family:CrimsonPro ;
    src: url('fonts/CrimsonPro-VariableFont_wght.ttf');
}
@font-face {
    font-family:Lora ;
    src: url('fonts/Lora-VariableFont_wght.ttf');
}

*{
    margin:0;
}

body{
    color: white;
    font-family: Montserrat;
    background-color: #181719;
    display: flex;
    flex-direction: column;
    margin: 4% 6% 0;
}

nav{
    display: flex;
    justify-content: space-between;
}
    nav h1{
        border:0.5px solid white;
        align-self: center;
        padding: 0.65% 0.6%;
        font-family: CrimsonPro;
        font-weight: 100;
        font-size: 14px;
        opacity:0.8;
    }

    nav ul{
        width:42%;
        list-style: none;
        display: none;
        justify-content: space-between;
    }

    nav li{
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
        align-self: center;
    }

    nav li:nth-child(1){
        font-weight: bold;
        border-bottom: 1px solid white;
    }

    .menu{
        display: none;
        position: absolute;
        right: 6%;
        flex-direction: column;
    }

    .menu #menu-icon{
        display:block;
    }
    .menu #close-icon{
        display: none;
    }

    .menu-drop{
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        padding: 5%;
        text-align: center;
        background-color: #181719;
        z-index: 2;
    }

        .menu-drop #menu-icon{
            display:none;
        }
        .menu-drop #close-icon{
            display: block;
            width: 5%;
            align-self: flex-end;
        }

        .menu-drop ul{
            display: block !important;
            align-self: center;
            padding: 0;
            margin-top: 50%;
            width: fit-content;
        }

        .menu-drop li{
            font-size: 22px;
            line-height: 60px;
            font-weight: 300;
        }

        nav li:nth-child(1){
            font-weight: 600;
        }

footer{
    padding: 2% 4%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    align-self: center;
    font-family: Montserrat-R;
}

.main{
    display: flex;
    justify-content: space-between;
    margin: 13% 0 0;
}

    .texts{
        flex:1;
        padding: 10% 8% 10% 0;
    }

    .texts h1{
        font-family: Lora;
        font-weight: 500;
        font-size: 48px;
        line-height: 61px;
    }

    .texts p{
        margin: 10% 0;
        font-size: 22px;
        line-height: 29px;
    }

    .read-more{
        display: flex;
        align-items: center;
    }

    .read-more h6{
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        margin-right: 3%;
    }

    .wallpaper{
        width: 60%;
    }

    .wallpaper img{
        width: 100%;
    }

    .profile{
        width: 35%;
        padding: 3% 15% 4% 5% ;
        background-color:#181719 ;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        transform: translate(73%,-45%);
    }

    .profile-head{
        display: flex;
        font-size: 14px;
        line-height: 17px;
    }

    .profile-head img{
        width: 20%;
        border-radius: 100%;
        margin-right: 5%;
    }

    .profile h4, h5{
        margin-top: 5%;
    }

    .profile-head h5{
        color: #828282;
    }

    .profile p{
        margin-top: 5%;
        font-family: Lora;
        font-size: 22px;
        line-height: 31px;
    }

@media screen and (max-width:1366px) {
    body{
        margin-top: 2%;
    }
    .main{
        margin-top: 7%;
    }
    .texts{
        padding: 5% 15% 5% 0;
    }
    .texts h1{
        font-size: 44px;
    }
    .texts p{
        font-size: 20px;
    }
    .read-more h6{
        font-size: 14px;
    }
    .wallpaper{
        width: 50%;
    }
    .profile{
        padding: 2% 12% 2% 3% ;
        transform: translate(90%,-60%);
    }
    .profile-head{
        font-size: 10px;
        line-height: 10px;
    }
    .profile-head img{
        width: 15%;
        height: 15%;
    }
    .profile p{
        font-size: 15px;
        line-height: 20px;
    }
}
@media screen and (max-width:1090px){
    .texts h1{
        font-size: 36px;
    }
    .texts p{
        font-size: 16px;
    }
    .read-more h6{
        font-size: 10px;
    }
    .profile-head{
        font-size: 8px;
        line-height: 8px;
    }
    .profile p{
        font-size: 12px;
    }
}
@media screen and (max-width:880px){
    nav li{
        font-size: 12px;
    }
    body{
        margin: 5% 8%;
    }
    .main{
        flex-direction: column;
        margin: 10% 0;
    }
    .texts h1{
        font-size: 46px;
    }
    .texts p{
        margin: 8% 0 3%;
        font-size: 18px;
    }
    .wallpaper{
        width: 100%;
    }
    .profile-head{
        font-size: 12px;
        line-height: 12px;
    }
    .profile p{
        font-size: 16px;
    }
}

@media screen and (max-width:620px) {
    .texts p{
        margin:10% 0;
    }
    .profile{
        width: 70%;
        transform: translate(8%, -20%);
    }
}

@media screen and (max-width:480px) {
    body{
        margin: 6% 4%;
    }
    nav h1{
        font-size: 12px;
    }
    .texts h1{
        font-size: 36px;
    }
    .texts p{
        font-size: 14px;
        line-height: 20px;
    }
    .profile{
        width: 70%;
        transform: translate(8%, -45%);
    }
    .profile p{
        width: 80%;
    }
    footer{
        font-size: 12px;
    }
}
